@{
    Layout = "_Layout";
}

@model (BlogWebsite.DTO.Blog.BlogPostDTO, IEnumerable<BlogWebsite.DTO.Category.CategoryDto>)
@*@model IEnumerable<BlogWebsite.DTO.Category.CategoryDto>*@


<div id="" class="return-post-index text-primary link-primary btn">
    return to list
</div>
<div>

</div>
<form action="CreatePost" method="post" enctype="multipart/form-data">
    <div class="">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input asp-for="Item1.Title" class="form-control" type="text" name="Title" aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input" />
            <span asp-validation-for="Item1.Title"></span>
        </div>
        @*<div class="m-2">
            <input class="" asp-for="Item1.CreateDate" type="date" name="CreateDate" value="" />
            <span asp-validation-for="Item1.CreateDate"></span>
        </div>*@

        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            <input asp-for="Item1.Description" class="form-control" type="text" name="Description" aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input" />
            <span asp-validation-for="Item1.Description"></span>
        </div>
        <div class="mb-3">
            <label for="ThumnailUrl" class="form-label">Thumbnail</label>
            <input asp-for="Item1.Thumbnail" class="form-control" type="file" name="Thumbnail" aria-describedby="inputGroup-sizing-default" aria-label="Sizing example input" />
            <span asp-validation-for="Item1.Thumbnail"></span>
        </div>

        @*<div id="editor"></div>*@
        <textarea id="editor" name="Content"></textarea>








        <div>
            @foreach (var category in Model.Item2)
            {
                <div class="form-check form-check-inline">
                    <label for="SelectedCategoryIds" class="form-check-label">@category.CategoryName</label>
                    <input class="form-check-input" type="checkbox" name="SelectedCategoryIds" value="@category.CategoryID" />
                </div>

            }
        </div>



        <div><input type="submit" name="name" value="submit" class="mt-3 btn btn-success" /></div>
        <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css" />
        @*<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/43.0.0/ckeditor5-premium-features.css" />*@
        <script type="importmap">
            {
                "imports": {
                    "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
                    "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"

                }
            }
        </script>
        <script type="module" src="~/js/Admin/AdminBlog/Test.js"></script>
    </div>

</form>
<script type="module" src="~/js/Admin/AdminBlog/UpdatePost.js"></script>



<script type="module">  
    import { AdminUpdatePostModuleSeNdAd } from '../../../../js/Admin/AdminBlog/UpdatePost.js';
    $(document).ready(function () {
        AdminUpdatePostModuleSeNdAd.ReturnBtn();
    })
</script>


