@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model BlogWebsite.DTO.Blog.BlogPostDTO

<div>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.CreateDate
    </div>
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>
