:root{
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height:1.6rem;
}

.grid{
    width:1200px;
}