@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model BlogWebsite.DTO.Comment.CreateCommentDto

<div class="modal fade" id="replyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Reply to this comment...</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>

            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="CreateComment" method="post" id="CreateCommentForm">
                        <input type="hidden" name="ReplyToCommentId" value="" />
                        <input type="hidden" name="BlogPostID" value="" />
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" name="FullName" value="" class="form-control" placeholder="" />
                                    <label for="FullName">Full Name</label>
                                    <span asp-validation-for="FullName" class="text-danger"></span>

                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="email" name="Email" value="" placeholder="" class="form-control" />
                                    <label for="Email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger"></span>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <textarea name="Content" class="form-control" placeholder=""></textarea>
                                    <label for="Content">Leave Comment here</label>
                                    <span asp-validation-for="Content"></span>
                                </div>        

                            </div>


                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-outline-primary" name="name" value="Send message" form="CreateCommentForm" />
            </div>

        </div>
    </div>
</div>