@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Travel Blog</title>
    <link href="/css/HomePage.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/bundle.css">
    
    @*<link href="~/css/HomePage.css" rel="stylesheet" />*@

</head>
<body>
    <header class="header-bar clearfix">
        <h3>----------Header----------</h3>
    </header>

    <div class="bpdy-wrapper">
        <label for="nav-mobile-input" class="nav-bar-button"><i class="fa-solid fa-bars"></i></label>
        <input hidden type="checkbox" name="name" value="" id="nav-mobile-input" />
        <label for="nav-mobile-input" class="nav-overlay"></label>
        <aside role="complementary" class="sidebar">
            <nav>

                <label for="nav-mobile-input" class="nav-close-button"> <i class="fa-solid fa-xmark"></i> </label>

                <ul class="nav-list">
                    <li>
                        <a href="#" class="nav-link">Home</a>  @*<i class="fa-solid fa-house"></i>*@
                    </li>
                    <li>
                        <a href="#" class="nav-link">Fashion</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Travel</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
            <div>

            </div>
        </aside>

        <div>

            <section>
                <div>
                    <div>
                        <h2>A small river named Duden flows by their place and supplies it with the necessary regelialia.</h2>
                    </div>
                    <div>
                        <h3>A small river named Duden flows by their place and supplies it with the necessary regelialia.</h3>
                    </div>
                </div>
            </section>

        </div>



    </div>








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bundle.js"></script>
</body>
</html>